.Comp-Form {
    .createService-content {
        margin: 6vh auto;
        width: fit-content;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        background-color: rgba(255, 255, 255, 0.26);
        border: 2px solid black;
        padding: 40px 20px;
        border-radius: 9px;
    }

    .createService-ListMain {
        display: grid;
        place-items: center;
    }
}

.createService-ListMain {
    display: grid;
    place-items: center;
}

.Comp-FormModify {
    width: 100%;
    min-height: 70vh;

    .modifyForm-content {

        background-color: rgba(255, 255, 255, 0.26);
        border: 2px solid black;
        padding: 40px 20px;
        border-radius: 9px;

        display: grid;
        // grid-column: span 3;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 20px;
        margin: 10px 21%;

        @media(max-width:1000px) {
            margin: 10px 10%;
        }

        @media(max-width:650px) {
            grid-template-columns: 1fr;
            grid-column: span 1;
        }
    }
}