.createService-content{
    margin: 6vh auto;
    width: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    background-color: rgba(255, 255, 255, 0.26);  
    border: 2px solid black;
    padding: 40px 20px;
    border-radius: 9px;
}

.createService-ListMain{
    display: grid;
    place-items: center;
}