.pagination2{
    display: flex;
    position: relative;
    margin: 30px;
    border-left: 20px;
    margin-top: 30px;
    color: rgb(10, 10, 5);
    font-size: 20px;
    gap: 30px;
    background-color: #f5f51af4;
    border-radius: 2px;
    height: 30px;
    width: 30px;
    border-style: solid;
    border-width: 1px;
    cursor:pointer;
    align-items: center;
    justify-content: center;
}
.number{
justify-items: center;
}
.number:hover{
    transform: scale(1.3);
    
   
   
}
