.container{
    display: flex;
    flex-direction: column;
    font-size: medium;
    width: 600px;
    height: 700px;
    background-color:lightgrey;
    border-radius: 20px;
    padding: 30px;
    
}

textarea{
    border-radius: 10px;
    border: 3px solid lightgrey;
    resize: none;
    height: 200px;


}

.container label{
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;

}

.user img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 10px;
    padding-top: 10px;
    width: 140px;
    
}

.btns button{
    border: none;
    gap: 20px;

}
.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btns button:focus{
    background-color: rgb(255, 222, 6);
    color: white;
}

.userCenter{
    display: flex;
    
    justify-content: center;

}


.imgButton{
   display: flex;
   justify-content: center;


}
