.serviceshome {
    zoom: 100%;
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    position: relative;
    justify-content: center;
    gap: 1em;
    margin-left: 10%;
    // margin-righ: 17%;
    // top: 70px;
    /* margin-left: 150px; */
    /* grid-template-rows: auto; */
  // justify-items: center;
  }

.switchs{
  position:absolute;
  // background-color: #FCDC3C;
  width: 140px;
  margin-left: 3%;
  margin-top: 13%;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  justify-content: space-between;
}

.filterservice{
// box-sizing: border-box;
position: relative;
display: flex;
margin-top: 30px;
margin-bottom: 30px;
justify-content: space-between ;
text-align: center;

margin-inline: 3%;
background: #FCDC3C;
// border: 1px solid #0c0c0c;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
padding: 0.8em 1.5em;
font-family: "Roboto","Helvetica","Arial",sans-serif;;
font-style: normal;
font-size: 10px;
color: #000000;
}

.filtername{
  cursor: pointer;
  font-size: 17px;

}
.filtername:hover{
  transform: scale(1.1);
}

  .divpag{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100px;
    justify-content: center;
    gap: 1em;
    
    /* margin-left: 150px; */
    /* grid-template-rows: auto; */
  justify-items: center;
  }

  .divcarousel{
 width: 300px;
 margin: 30px;
  }

.homepaginate {
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px 0;
}