.services-home {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 2000px;
    justify-content: center;
    gap: 1em;
    /* margin-left: 150px; */
    /* grid-template-rows: auto; */
  justify-items: center;
  }


  .ServicesBar{
    position: relative;
    grid-column: 2/2;
    margin: auto;
    height: 50px;

  }

  .divpag{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    justify-content: center;
    gap: 1em;
    margin-top: 50px;
    /* margin-left: 150px; */
    /* grid-template-rows: auto; */
  justify-items: center;
  }

  .divcarousel{
 width: 300px;
 margin: 30px;
  }