.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    position: fixed;
}

.orders {
    width: 80%;
    height: 550px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.buttons {
    position: relative;
    top: 440px;
    width: 100%;
    height: 100px;
    margin-left: auto;
}

.checkout {
    text-align: center;
}

