.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    position: fixed;
}

.orders {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: grid;
}

.column {
    width: 300px;
    margin-top: 20px;
    line-height: 3.5;
}

.buttons {
   justify-content: center;
   position: relative;
   top: 100px;
}


