.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    


}

.form button{
    width: 50px;
    display: flex;


    
}

span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: large;
    gap: 30px;
    align-items: center;


}