.page-seller_register{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    .sel_reg-one{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}