.btn{
    border: none;
    font-weight: bolder;
    background-color:  rgb(255, 222, 6);
    font-size: x-large;
    padding: 10px;
}

.container{
    display: flex;
    margin: 20px;
    justify-content: space-between;


}