.carousel{
    height: 400px;
   
    margin-bottom: 50px;



}
.carousel img{
    height: 400px;
    object-fit: cover;

}


.container{
    
    display: flex;
    flex-direction: column;
   
   
}

.division{
    display: grid;
    grid-template-columns: 2fr 1fr;
    


}

.about{
    font-size: large;

}

.cardOthers{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    display: flex;
    justify-content: space-around;
    

}

.opinion{

    padding-top: 40px;
}


@media (max-width: 1000px){
    .division{
        display: flex;
        flex-direction: column;
        align-items: center;

       
    }



}

.anchors{
    font-size: large;
    margin-top: 30px;
    margin-left: 50px;


}


.page-link{
  background-color:  rgb(255, 222, 6);
  font-size: xx-large;
 
}

.leftSide{
  
    padding-left: 20px;
    padding-right: 20px;
    width: 94%;

}

.title{
    font-size: large;
    font-weight: 800;
    font-style: italic;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    color: rgb(6, 6, 150);

}

.more{
    border: none;
    font-style: oblique;
    color: blue;
    margin-bottom: 50px;
    font-size: large;
    background-color: transparent;
    text-decoration: underline;

}

.price{
    font-size: large;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 20px;

}

.price div{
    color: green;
    font-weight: 700;
}

.date{
    font-weight: 500;
    display: flex;
    font-size: medium;
    gap: 10px

}

.date p{
    font-weight: 700;

}

.subTitle{
    display: flex;
    justify-content: space-between;

}

.check{
    font-size: large;


}