.list {
  display: flex;
  width: 100%;

  .listContainer {
    flex: 6;
  }
}

.list_category {
  display: flex;
  width: 100%;
  .list-container{
    flex: 6;
    // display: flex;
    // flex-flow: column nowrap;
  }
}