.footerctn {
    padding: 1em 0 ;
    align-items: center;
    margin-top: auto;
    background-color: rgb(242, 229, 206);
}

.footerlogos {
    position: relative;
    align-items: center;
    width: 150px;
    margin-left: 150px;
}
.footerlogos:hover{cursor: pointer;}