
.comp_card_publication { 
  margin-bottom: 20px;
  

  .card {
    border-radius: 18px;
    background: rgb(255, 255, 255);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    /* margin:30px; */
    box-shadow: 0 0 6px 2px rgba(135, 122, 83, 0.75),
      0 40px 25px -15px rgba(0, 0, 0, 0.35);
    width: 300px;
    height: 400px;
  }

  img {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 300px;
    height: 200px;
  }

  .card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
  }

  .titlec {
    font-family: "Roboto","Helvetica","Arial",sans-serif;;;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(5, 5, 5);
  }

  .card-text {
    grid-area: text;
    margin: 25px;
    font-size: 15px;
  }

  .card-diets {
    color: rgb(121, 134, 6);
    font-style: italic;
  }

  .text-stats {
    padding-top: 10px;
    font-size: 20px;
    color: azure;
  }

  .card-text h1 {
    color: rgb(49, 49, 49);
    font-size: 1.7em;
  }

  .card-text p {
    color: rgb(71, 70, 70);
    font-size: 15px;
    font-weight: 300;
  }

  .card-stats {
    grid-area: stats;
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    padding-top: 20px;
  }

  .card-stats {
    display:flex;
   justify-content: center;
    color: rgb(171, 145, 29);
    border-color: black;
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .stat1 {
    justify-content: center;
    flex-direction: column;
    color: rgb(214, 186, 3);
    text-shadow: 3px 3px 3px black;
    padding: 13px;
  }

  .stat2 {
    justify-content: center;
    flex-direction: column;
    color: rgb(218, 233, 4);
    text-shadow: 3px 3px 3px black;
    padding: 13px;
  }

  .card:hover {
    transform: scale(1.1);
    margin: 5px 35px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  }

  .titleprice {
    color: rgba(0, 0, 0, 0.35);
    text-align: left;
  }
  .titlestar{
    text-align: left;
  }
  .titlesummary{
    text-align: left;
  }
  .UL{
   display: flex;
  }
  .like{
  position: absolute;
  margin-left: 230px;
  }

    
}

