.filter {
    width: 100%;
    background-color: white;
    height: 40px;
}

.filterctn {
    width: 400px;
    margin: 0 auto;
    margin-top: 10px;
}

.tabs{ 
width: 100%;
background-color: #fcdc3c;
margin-top: 20px;
padding:5px;
}

.tab{
font-size: 12;
color: black;
font-weight: 500;
}



